body {
	background-color: #ffc2A2; 
	margin-left: 20%; 
	margin-right: 20%;
	font-size: 15px;
	border:2px dotted black;
	padding: 10px 10px 10px 10px;
	font-family: sans-serif;
}
.h1 {font-size:18px; font-family:Arial;}

